.state:hover {
  fill: green;

}

.viewbox-container {
      display: flex;
      flex-direction: row;
}

svg {
  background-color: lightgrey;
  position: relative;
  /* left: 280px; */
  margin-left: auto;
  margin-right: auto;
  width:1020px;
  height: 695px;
  /* padding: 2px 4px 2px 8px; */
  border-radius: 40px;
  background: #E0E5EC;
  box-shadow: 4px 4px 5px 0px inset #A3B1C6, -3px -3px 5px 0px inset #FFFFFF
}

                /* header */
header {
  display: flex;
  width: 1405px;
  height: 65px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;
  /* z-index: 2; */
  /* position: relative; */
  /* border-radius: 40px; */
  background: #E0E5EC;
  /* box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff; */
}
header div {
  margin: auto 0px auto 0px;
}

body {
  background-color: #E0E5EC;
}

.left-buttons {
  margin-left: auto;

}
.right-buttons {
  margin-right: auto;

}

.state {
  /* fill: #94d31b;  */
  /* -webkit-filter: drop-shadow(0 1px 2px); */
  /* filter: url(#drop-shadow); */
  /* filter: blur(200px); */
  color: white;
  font-size: 20px;
}

.radio-button-div {
  display: flex;
  flex-direction: column;
  background-color: #E0E5EC;
  border-radius: 4px;
  padding: 12px 0px 12px 0px;
}

