.state:hover {
  /* fill: black; */
  opacity: 0.3;


  /* transition: .5s ; */
}

.state {
  stroke: white;
  stroke-width: 2px;
  stroke-opacity: .3;
  cursor: pointer;
}

text {
  cursor: pointer;
}