.viewbox-container {
      display: flex;
      flex-direction: row;
}


/* header */


body {
  background-color: #F7F4E9;
}

svg {
  background-color: lightgrey;
  position: relative;
  /* left: 280px; */
  margin-left: auto;
  margin-right: auto;
  width:920px;
  height: 695px;
  /* padding: 2px 4px 2px 8px; */
  border-radius: 40px;
  background: #F7F4E9;
}

.left-buttons {
  margin-left: auto;
  display: flex;
  flex-direction: column;

}






