.viewbox-container {
      display: flex;
      flex-direction: row;
      width: 100vw;

}

body {
  background-color: black;
}

body::after {
  background-image: url(../images/test_tube.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  opacity: .15;
  width: 100vw;
}

svg {
  background-color: transparent;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width:920px;
  height: 695px;
  border-radius: 40px;
}

.left-buttons {
  margin-left: auto;
  display: flex;
  flex-direction: column;

}











