.viewbox-container {
      display: flex;
      flex-direction: row;
      width: 100vw;

}


/* header */

/* #nosferatu {

} */

body {
  background-color: black;
}

body::after {
  background-image: url(../images/test_tube.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  opacity: .15;
  width: 100vw;
}

svg {
  background-color: transparent;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width:920px;
  height: 695px;
  border-radius: 40px;
}

.left-buttons {
  margin-left: auto;
  display: flex;
  flex-direction: column;

}

@media screen and (max-width: 600px) {
  body {
    width: 900px;
  }
  body::after {
    width: 900px;
  }

  #nosferatu {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
  }

  .viewbox-container {
    flex-wrap: wrap;
    /* margin: 0px auto; */
    width: 100%;
  }

  .left-buttons {
    flex-direction: row;
  }

  #aside {
    max-height: 2em;
  }

  .left-buttons {
    position: relative;
    margin: 0px auto;
  }

  /* .right-buttons {
    flex-direction: row !important;
  } */

  #reset-button-right {
    height: 3em;
  }

  .right-buttons button:first-of-type {
    margin: 0px auto !important;
  }

  .radio-button-div {
    flex-direction: row !important;
    flex-wrap: wrap;
  }

  svg {
    height: 600px;
  }

  .viewbox {
    margin: auto;
  }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}







