#aside {
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  color: white;
  padding: 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-bottom: 6px; 
  margin-top: 6px;
  cursor: pointer;
  background-color: cornflowerblue;
}


