.right-buttons {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

#reset-button-right {
  width: 200px;
  border: none;
  background-color: cornflowerblue;
  border-radius: 4px;
  margin: 6px 0px 6px 20px !important;
  min-width: 200px;
  text-align: center;
  color: white;
  padding: 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;

  outline: none;
}

.txt {
  font-size: 13px;
}

.exc123 {
  cursor: default !important;
  color: white !important;
  background-color: transparent !important;
  margin-bottom: -30px !important;
}