.state:hover {
  /* fill: black; */
  opacity: 0.3;


  /* transition: .5s ; */
}

.state {
  stroke: black;
  stroke-width: 2px;
  stroke-opacity: .4;
  opacity: .85;

  /* transition: all 1s ease-in; */
}