header {
  border-bottom: lightgrey 0.1px;
    border-bottom-style: inset;
    /* box-shadow: 4px 6px 10px #FFFFFF; */
    box-shadow: 4px 4px 5px 0px #A3B1C6, -3px -3px 5px 0px #FFFFFF
    width: 100.5%;
}

header {
  display: flex;
  width: 1405px;
  height: 65px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background: #E0E5EC;
}

header div {
  margin: auto 0px auto 0px;
}
